<div class="contact-page">
  <div class="top-region-wrapper">
    <div class="top-region">
      <div class="top-left-region">
        {{ content.top_left }}
      </div>
      <div class="top-right-region">
        {{ content.top_right }}
      </div>
    </div>
  </div>
  <div class="main-region">
    <div class="main-left-region">
      {{ content.main_left }}
    </div>
    <div class="main-right-region">
      {{ content.main_right }}
    </div>
  </div>
  <div class="bottom-region">
    {{ content.bottom }}
  </div>
</div>
